{% extends 'base.html' %}

{% block content %}

<title>
    introduce
</title>

<body>
    <div class="text">
        <br>
        <h2>"애들아...이렇게 꼭 먹어줘...이거 정말 꿀맛이라구...ㅎ"</h2>
        <br>
        나만알고 있는 꿀맛 레시피가 누군가는 먹어 줬으면 좋겠는데 아쉬우시다구요?
        <br>
        우리 함께 맛난 레시피로 내 취향을 탕탕 저격한 음식을 먹으며 호들갑을 떨고 싶으시다구요?
        <br>
        그래요, 우리는 그렇게 행복해 질 이유가 있습니다.하하
        <br>
        나만 알고 있기 아쉬운 레시피, 나의 취향을 탕탕 저격한 음식 꿀 조합들, 내가 여기 알바생인데! 하는 분들의 레시피들 이 페이지에 올려주세요!
        <br>
        "이렇게 먹으면 맛있어!", "저렇게 먹으면 맛있어!" 하는 레시피들을 환영합니다.
        <br>
        어떤 장르의 음식도 상관 없습니다!
        <br>
        <br>
        "엽X 떡볶이 먹고 빽다X가서 에이드 먹어봐..돈을 벌어야 하는 이유가 생김"
        <br>
        "X디야 토피넛 라떼에 샷추가해서 꼭 드세여 환상입니다..."등등
        <br>
        <br>
        여러분들의 꿀조합 레시피를 이 페이지에 올려주세요!
        <br>
        하나를 먹더라도 제대로 먹읍시다!

    </div>

</body>


{%endblock%}